html, body, div, ul {
	margin: 0;
	padding: 0;
}

p {
	margin: 0;
	padding: 7px 0;
}

a {
	outline: none;
}

a img {
	border: 1px solid #BBB;
	padding: 2px;
	margin: 10px 5px 10px 0;
	vertical-align: top;
}
